{
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"],
      "presets": ["es2015"]
    },
    "rollup": {
      "plugins": ["external-helpers"],
      "presets": [["es2015", {"modules": false}]]
    }
  }
}
