{
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "mocha": {
      "presets": ["es2015"]
    },
    "rollup": {
      "presets": [["es2015", {"modules": false}]],
      "plugins": ["external-helpers"]
    }
  }
}
